pydantic==1.10.7
pydantic[dotenv]==1.10.7
uvloop==0.17.0 # uvicorn req
uvicorn~=0.27.0.post1
fastapi~=0.109.2
pytest==7.2.2
loguru==0.6.0
dependency-injector==4.41.0
pydantic-factories==1.17.3
pytest-asyncio==0.23.5